.main {
  width: 20%;
  margin-top: 40px;
  margin-left: 15px;
  font-family: "Bricolage Grotesque", sans-serif;
  .repoInner {
    margin: 30px 0;
  }
  .repoHeader {
    display: flex;
    gap: 10px;
    font-size: 15px;
  }
  .title {
    font-weight: 600;
    color: whitesmoke;
  }
  .languageBox {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .langAvatar {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .repoName {
    font-size: 16px;
    color: whitesmoke;
  }

  .repoName:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .footer {
    display: flex;
    gap: 30px;
  }

  .starIcon {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;

    span {
      font-size: 14px;
      color: #7d8590;
    }
  }

  .description {
    font-size: 13px;
    margin-top: 10px;
    color: #7d8590;
  }

  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
}
