.drawerMain {
  background-color: rgb(3, 2, 2) !important;
  color: white !important;
  width: 330px !important;
  position: absolute;
  right: 0;
}

.closeIcon {
  cursor: pointer;
}

.drawerInner {
  display: flex;
  justify-content: space-between;
}
