.eventsMain {
  width: 50%;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  .forks {
    margin: 20px 10px;
    display: flex;
    gap: 15px;
    .actorName {
      color: whitesmoke;
    }

    .created_at {
      font-size: 13px;
      margin-left: 3px;
    }

    .actorName:hover {
      color: #2f81f7;
      cursor: pointer;
    }
    .forkeeAvatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.eventRepoCard {
  width: 95%;
  margin: 10px;
  height: 80px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #0e0e0e;
  border: 1px solid rgb(64, 64, 64);
  display: flex;
  align-items: center;
}

.repoDetails {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .repoName {
    margin-top: 10px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
  }

  .repoName:hover {
    color: #2f81f7;
    cursor: pointer;
  }
  .subCard {
    display: flex;
    gap: 15px;
    .span {
      font-size: 12px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      gap: 5px;
      .icon {
        cursor: pointer;
      }
    }

    .updatedAt {
      margin-left: 10px;
    }
  }

  .starBtn {
    margin-right: 20px;
    border: 1px solid rgb(52, 52, 52);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 5px;
  }

  .starBtn:hover {
    border: 1px solid rgb(97, 97, 97);
  }
}
